In [5]:
(lambda first : first + 20)(10)    # 콜론의 왼쪽은 선언, 오른쪽은 사용하는 부분임. first가 파라미터임.

30

In [18]:
def plus(first01):                 
  return first01 + 20              # return은 한 행에서 제일 마지막에 실행된다. 따라서 first01 + 20 ---> return 순으로 실행
  # result = first01 + 20
  # return result

In [16]:
plus(10), type(plus)

(30, function)

In [12]:
plus(20)

40

In [14]:
plus_02 = (lambda first : first + 20)          #  람다는 변수에 넣어서 함수처럼 사용할 수 있다. 괄호는 해줘도 되고 안해줘도 된다.

In [15]:
type(plus_02)                                   # 위에서 만든 plus_02는 함수다.

function

In [17]:
plus_02(30)

50

In [ ]:
def plus(first01, second02):                 
  return first01*second + 20

In [ ]:
(lambda first,second : first * second + 20)(10,3)